* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // height: 100vh;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-player);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--c-letter);
    font-family: var(--font-OpenSans);
}