*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 10px; 
}
  
body{
    height: 100vh;
    background-color: var(--c-grey);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


a{
    text-decoration: none;
}

::placeholder {
    color: var(--c-white);
}