.hero {
    padding-top: 30px;
}

#Nosotros {
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.progress-bar {
    color: black;
    font-size: 14px;
    text-align: center;
    background-color: #F8A126 !important;
}

.progress {
    background-color: #0D0D0D;
    height: 20px;
}

.icono-numero {
    font-size: 35px;
}

.avatar-nosotros {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.tecnologias-img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
}

.tecnologias-img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}