.hero {
    background: url(https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
    background-position: center;
    background-size: cover;
    padding-top: 30px;
}

#Nosotros {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding-left: 35px;
    padding-right: 35px;
}

.progress-bar {
    color: black;
    font-size: 14px;
    text-align: center;
    background-color: #F8A126 !important;
}

.progress {
    background-color: #0D0D0D;
    height: 20px;
}

.icono-numero {
    font-size: 35px;
}

.avatar-nosotros {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.tecnologias-img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in;
}

.tecnologias-img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}