.hero {
    background: linear-gradient(0deg, rgba(248,161,38,0.2945553221288515) 0%, rgba(117,76,19,0.6222864145658263) 52%, rgba(0,0,3,0.6502976190476191) 90%), url(https://images.unsplash.com/photo-1583470037890-73cc6850b7eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80);
    background-position: center;
    background-size: cover;
}

.fondo-card {
    background-color: gray;
}
