#error404 {
    background-image: url(https://i.imgur.com/MNOlK4B.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;

    & h1 {
        font-size: 50px;
    }

    & h2 {
        font-size: 25px;
        color: white;
    }
}
