:root {
    --c-background: #171717;
    --c-navbar: #302e2e;
    --c-player: #000000;
    --c-letter: #b2b2b2;
    --c-white: #ffffff;
    --c-success: #5FC54F;
    --c-wrong: #f44336;
    --c-mainYellow: #ffda2a;
    --c-secondYellow: #f7bf53;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
    --font-PTSans: 'PT Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-letter);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--c-letter);
    font-family: var(--font-OpenSans);
}

.container-form {
    width: 90%;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

@media screen and (max-width: 768px) {
    .container-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body {
        height: auto;
    }

    .formulario-registro,
    .formulario-login {
        max-width: 100%;
    }
}

.enlace {
    color: var(--c-white);
    margin-bottom: 1rem;
    text-decoration: none;
}

.enlace:hover a {
    opacity: 1;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: var(--c-mainYellow);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: var(--c-player);
}

.message button:hover {
    background-color: var(--c-secondYellow);
}

.formulario-registro {
    max-width: 800px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--c-letter);
    text-align: center;
    border-radius: 10px;
}

.formulario-login {
    width: 800px;
    padding: 1rem;
    margin: 2rem;
    background-color: var(--c-letter);
    text-align: center;
}

.create-account {
    color: var(--c-mainYellow);
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.bx {
    color: var(--c-player);
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    /* Centrar verticalmente los iconos */
}

.iconos .border-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}



.formulario-login input,
.formulario-registro input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: var(--c-player) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: var(--c-white);
    font-family: var(--font-PTSans);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::placeholder {
    color: var(--c-player);
}

/* 
si en vez de utilizar button, utilizan input type button, se puede utilizar el siguiente código:
.formulario-login input[type="button"],
.formulario-registro input[type="button"]
*/
.formulario-login button,
.formulario-registro button {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 200px;
    /* Máximo ancho para evitar que el botón sea demasiado ancho en pantallas grandes */
    margin: 0 auto;
    /* Centra el botón horizontalmente */
    padding: 10px 20px;
    /* Espaciado interno para un mejor aspecto */
    border: none;
    border-radius: 2rem;
    background-color: var(--c-mainYellow);
    font-weight: 600;
    font-size: 1rem;
    /* Tamaño de fuente ligeramente más grande para una mejor legibilidad */
    cursor: pointer;
    color: var(--c-player);
    font-family: var(--font-PTSans);
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave al pasar el mouse */
}

.formulario-login button:hover,
.formulario-registro button:hover {
    background-color: var(--c-secondYellow);
    /* Cambio de color al pasar el mouse */
    color: var(--c-white);
    /* Cambio de color del texto al pasar el mouse */
}

.password-description {
    color: var(--c-white);
    font-size: 0.75rem;
    font-family: var(--font-PTSans);
}

.password-registro {
    margin-bottom: 0px;
}

.login-icon:active {
    color: var(--c-mainYellow);
}