.img-product {
    height: 430px;
    object-fit: cover;
}

.img-pagos {
    height: 300px;
}

  .pre {
    white-space: pre-wrap; 
    font-family: var(--font-Montserrat);
    font-weight: 300;
  }
  