.img-product {
    height: 350px;
    object-fit: cover;
}

.img-pagos {
    height: 300px;
}


#Container {
    background-color: white;
    border: #302e2e solid 1px;   
}
  
  .pre {
    white-space: pre-wrap; 
    font-family: var(--font-Montserrat);
    font-weight: 300;
  }
  