.recoverPassword-container {
  background-image: url(https://img.freepik.com/fotos-premium/guitarra-acustica-espacio-copia-vista-superior-fondo-blanco_169016-16404.jpg?w=900);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 87vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.recoverPasswordPage {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-out;

  &__form {
    width: 60rem;
    padding: 8rem;
    margin: auto;
    background-color: rgba($color: #000000, $alpha: 0.7);
    text-align: center;
    border-radius: 0.6rem;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.612)
  }

  &__createAccount {
    color: var(--c-white);
    padding: 2.7rem 0;
    font-size: 2.7rem;
    font-family: var(--font-PTSans);
  }

  &__description {
    color: var(--c-white);
    font-size: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .recoverPassword-container {
    height: 60vh; 
}
  .recoverPasswordPage {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__form {
      width: 100%;
      max-width: 25rem;
      margin: 2rem auto;
      padding: 2rem;
    }

    &__createAccount {
      font-size: 2rem;
      padding: 1.5rem 0;
    }

    &__description {
      font-size: 1.5rem;
    }
  }
}