.recoverPasswordPage {
  width: 90%;
  display: flex;
  justify-content: space-around;
  transition: all .5s ease-out;

  &__form {
      width: 100rem;
      padding: 8rem;
      margin: 2rem auto;
      background-color: rgba($color: #000000, $alpha: 0.7);
      text-align: center;
      border-radius: 0.6rem;
      box-shadow: 0 0 10px rgba(248, 248, 248, 0.612)
  }

  &__createAccount {
      color: var(--c-white);
      padding: 2.7rem 0;
      font-size: 2.7rem;
      font-family: var(--font-PTSans);
  }
  &__description{
    color: var(--c-white);
    font-size: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .recoverPasswordPage {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__form {
          width: 100%;
          max-width: 25rem;
          margin: 2rem auto;
          padding: 2rem;
      }

      &__createAccount {
        font-size: 2rem;
          padding: 1.5rem 0;
      }
      &__description{
       font-size: 1.5rem;     
      }
  }
}


