.formulario-registro {
    width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--c-letter);
    text-align: center;
    border-radius: 10px;
}

.formulario-registro button {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 200px;
    /* Máximo ancho para evitar que el botón sea demasiado ancho en pantallas grandes */
    margin: 0 auto;
    /* Centra el botón horizontalmente */
    padding: 10px 20px;
    /* Espaciado interno para un mejor aspecto */
    border: none;
    border-radius: 2rem;
    background-color: var(--c-mainYellow);
    font-weight: 600;
    font-size: 1rem;
    /* Tamaño de fuente ligeramente más grande para una mejor legibilidad */
    cursor: pointer;
    color: var(--c-player);
    font-family: var(--font-PTSans);
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave al pasar el mouse */
}

.formulario-registro button:hover {
    background-color: var(--c-secondYellow);
    /* Cambio de color al pasar el mouse */
    color: var(--c-white);
    /* Cambio de color del texto al pasar el mouse */
}

.formulario-registro input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: var(--c-player) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: var(--c-white);
    font-family: var(--font-PTSans);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.password-description-register {
    color: var(--c-white);
    font-size: 0.75rem;
    font-family: var(--font-PTSans);
}

