.img-repassword{
    max-width: 100%; // Ajusta el tamaño máximo de la imagen al contenedor
  display: block; // Elimina el espacio adicional debajo de la imagen
  margin: 0 auto; // Centra la imagen horizontalmente en su contenedor
  border: 2px solid; // Agrega un borde alrededor de la imagen (puedes cambiar el color según tu preferencia)
  border-radius: 10px; // Agrega bordes redondeados para suavizar las esquinas

  // Aplica sombra para dar profundidad
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px;
    width: auto;
}