.footer {
    background-color: var(--c-black);
    color: white;
    ul {
        list-style: none;
        padding: 0;
        text-align: justify;
    }
    a {
        font-size: 20px;
        color: white;
    }
    &__title{
        color: var(--c-mainColor);
        text-align: justify;
    }
    &__title2{
        color: var(--c-mainColor);
    }
    &__tarjetas {
        width: 260px;
        height: 22px;
    }
}

