.footer {
    background-color: var(--c-black);
    color: white;
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        font-size: 20px;
        color: white;
    }
}

.tarjetas {
    width: 260px;
    height: 22px;
}

