.footer {
    background-color: var(--c-black);
    color: white;
    ul {
        list-style: none;
        padding: 0;
        text-align: justify;
        margin-left: 8rem;
    }
    &__text1 {
        text-align: justify;
        margin-right: 8rem;
    }
    a {
        font-size: 20px;
        color: white;
    }
    &__title{
        color: var(--c-mainColor);
        text-align: justify;
        margin-left: 8rem;
    }
    &__title2{
        color: var(--c-mainColor);
        text-align: justify;
    }
    &__tarjetas {
        width: 260px;
        height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        ul {
            list-style: none;
            padding: 0;
            text-align: justify;
            margin-left: 0rem;
        }
        &__title{
            color: var(--c-mainColor);
            text-align: justify;
            margin-left: 0rem;
        }
    }
}