.nav-header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--c-black);

  &__link {
    color: white;
    display: flex;
    justify-content: center;
  }

  &__link:hover {
    color: var(--c-mainColor);
  }

  &__cerrar-sesion {
    max-width: 10rem;
    margin: 0 auto;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--c-mainColor);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    color: var(--c-black);
    font-family: var(--font-PTSans);
    transition: background-color 0.3s, color 0.3s;
  }

  &__cerrar-sesion:hover {
    background-color: var(--c-secondColor);
    color: var(--c-white);
  }

  &__user-name {
    color: var(--c-mainColor);
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  a {
    font-size: 15px;
  }

  &__login {
    color: var(--c-mainColor);
    font-size: 2.5rem;
  }

  &__login:hover {
    color: var(--c-secondColor);
  }

  &__heart {
    color: var(--c-mainColor);
    font-size: 2.5rem;
  }

  &__heart:hover {
    color: var(--c-secondColor);
  }

  &__cart {
    color: var(--c-mainColor);
    font-size: 2.5rem;
  }

  &__cart:hover {
    color: var(--c-secondColor);
  }
}

.custom-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;

  &__input {
    flex-grow: 1;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    background-color: transparent;
  }

  &__button {
    border: none;
    background-color: var(--c-mainColor);
    color: var(--c-black);
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &__button:hover {
    background-color: var(--c-secondColor);
    color: var(--c-white);
  }

  &__search {
    font-size: 1.5rem;
  }
}

.nav-link{
  &__link{
    
  }
}