.a-para-borrar{
    text-decoration: none;
    color: black;
}

.productCard{
    position: relative;
    margin: 1rem;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease-in-out; 
    width: 18rem;

    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    &__img{
        margin-top: 1rem;
    }
    
    &__favourite{
        position: absolute;
        bottom: 80%;
        left: 70%;
        border: none;
        background-color:rgba(255, 255, 255, 0)
    }
    
    &__favourite-icons{
        font-size: 2rem;
        color: inherit;
        background-color: none;
        padding: 1.5rem;
    }
}

.mt-1rem{
    margin-top: 0.4rem;
}

